[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mmcv_full = "==1.4.6"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.9.1-cp38-none-macosx_11_0_arm64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cpu/torchvision-0.10.0-cp38-cp38-macosx_11_0_arm64.whl"}
timm = "*"
regex = "*"
ftfy = "*"
numpy = "*"
imagecorruptions = "*"
scipy = "*"
sklearn = "*"
einops = "*"
future = "*"
matplotlib = "*"
pycocotools = "*"
six = "*"
tensorboard = "*"
terminaltables = "*"
typing-extensions = "*"
Cython = "*"
cityscapesScripts = "*"
easydict = "*"
ipdb = "*"
todd = {editable = true, path = "./../todd"}

[dev-packages]

[requires]
python_version = "3.8"
